.cart-modal {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  height: fit-content;
  width: 400px;
  padding: 15px;
  z-index: 9999;
  background-color: white;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.close-button {
  width: 30px;
  cursor: pointer;
}

.cart-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cart-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cart-modal .total-container {
  margin-top: auto;
}


.total-container {
  padding-top: 10px;
  font-weight: bold;
}